#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#hiddenType {
  color: transparent;
  background-color: transparent;
  overflow: hidden;
  border: none;
  caret-color: transparent;
  outline: 0;
  height: 1px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.quote-block_button {
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
