.quote {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  margin-right: 10rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.normal {
  background-color: inherit;
}

.caret {
  background-color: yellow;
  display: inline-block;
  width: 2px;
  height: 16px;
  animation-name: caret;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes caret {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .quote {
    order: 2;
    margin-right: 2rem;
  }
}
